.detail-quiz-container{
  display: flex;
  gap: 20px;
  padding: 50px;
  .left-content{
    width: 70%;
    border: 1px solid #e0e0e0;
    .title{
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px;
    }
    .q-content{
      .question{
        font-size: 23px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      
    }
    .footer{
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }

  .right-content{
    width: 30%;
    border: 1px solid #c91a1a;
  }
}